{% extends 'base.html.twig' %}

{% block title %}Hello BorrowController!
{% endblock %}

{% block body %}

	<h1>Liste des Emprunts</h1>
	<div class="container">
		<table class="table">
			<thead>
				<tr>

					<th class="text-center">Id</th>
					<th class="text-center">Date de retour</th>
					<th class="text-center">Titre du livre</th>
					<th class="text-center">Nom emprunteur</th>
					<th class="text-center">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr>
                
		{% for borrow in borrows %}

        {# <pre>
            {{ dump(borrow) }}
        </pre> #}

						<td class="text-center">{{ borrow.id }}</td>
						<td class="text-center">{{ borrow.returnDate | date("d/m/Y") }}</td>
						<td class="text-center">{{ borrow.books.title }}</td>
						<td class="text-center">{{ borrow.users.firstName }}</td>
						<td class="text-center">
							<a class="btn btn-success" href="{{path('return_book',{'id': borrow.id,'book':borrow.books.id})}}">Retourner</a>
						</td>
					</tr>
					{# <tr>
											<td colspan="7" class="text-center">Aucun enregistrement trouvé</td>
										</tr> #}
				</tr>
			</tbody>
		{% endfor %}
	</table>

	{# <a class="btn btn-primary" href="{{ path('app_user_new') }}">Créer un nouveau user</a> #}
</div>{% endblock %}
