{% extends 'base.html.twig' %}
{% block title %}Hello Books!
{% endblock %}
{% block body %}
	<h1>Liste des Livres</h1>

	<div class="row row-cols-1 row-cols-md-3 g-4">
		{% for book in books %}
			<div class="col">
				<div class="card h-100">
					<img src="{{ asset('build/images/' ~ book.image) }}" class="card-img-top" alt="...">

					<div class="card-body">
						<h5 class="card-title">{{book.title}}</h5>
						<p class="card-text">{{book.synopsis}}</p>
					</div>
					{% if is_granted('ROLE_ADMIN') %}
						<a class="btn btn-warning" href="{{path('book-edit',{'id': book.id}) }}" class="card-link">Modifier</a>
						<a class="btn btn-danger" href="{{path('book-delete',{'id': book.id})}}" class="card-link">supprimer</a>
					{% else %}
						<a class="btn btn-danger" href="{{path('borrow_add',{'id': book.id,'user':app.user.id})}}" class="card-link">Emprunter</a>
					{% endif %}
				</div>
			</div>

		{% endfor %}
	</div>
	{# </table> #}
	{# <a class="btn btn-primary" href="#">Création d'un nouveau livre</a> #}
{% endblock %}
